# OpenEngine Distribution file for AssetViewer.

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# AssetViewer project
git /projects/AssetViewer     https://github.com/OpenEngineDK/projects-AssetViewer.git
git-dev /projects/AssetViewer git@github.com:OpenEngineDK/projects-AssetViewer.git

# dist files
dist /extensions/SetupHelpers/SetupHelpers.dist			https://raw.githubusercontent.com/OpenEngineDK/extensions-SetupHelpers/master/SetupHelpers.dist
#dist /extensions/OpenColladaResource/OpenColladaResource.dist   https://raw.githubusercontent.com/OpenEngineDK/extensions-OpenColladaResource/master/OpenColladaResource.dist

dist /extensions/Assimp/Assimp.dist   https://raw.githubusercontent.com/OpenEngineDK/extensions-Assimp/master/Assimp.dist

# standard set of extensions
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/Qt                     https://github.com/OpenEngineDK/extensions-Qt.git
git /extensions/OpenGLSelection        https://github.com/OpenEngineDK/extensions-OpenGLSelection.git

git-dev /extensions/SDL               git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/Qt                git@github.com:OpenEngineDK/extensions-Qt.git
git-dev /extensions/OpenGLSelection   git@github.com:OpenEngineDK/extensions-OpenGLSelection.git

# windows libraries
win32 /libraries http://openengine.dk/data/libraries/boost-win32.zip
win32 /libraries http://openengine.dk/data/libraries/glew-win32.zip
win32 /libraries http://openengine.dk/data/libraries/sdl-win32.zip
win32 /libraries http://openengine.dk/data/libraries/dlls-win32.zip
#win32 /libraries http://openengine.dk/data/libraries/colladadom2.1-win32.zip
#win   /libraries http://www.openengine.dk/data/libraries/colladadom2.1-win32.zip

# os x libraries
#darwin /libraries http://openengine.dk/data/libraries/colladadom2.1-osx-i32.zip
#darwin /libraries http://openengine.dk/data/libraries/pcre-osx-i32.zip
#darwin /libraries http://openengine.dk/data/libraries/pcrecpp-osx-i32.zip

# linux libraries
#linux /libraries http://openengine.dk/data/libraries/collada-linux.tar.gz

# data
any /projects/AssetViewer/data http://openengine.dk/data/models/FutureTank.zip
any /projects/AssetViewer/data http://openengine.dk/data/models/Podium.tar.gz
any /projects/AssetViewer/data/Fonts  http://openengine.dk/data/fonts/freefont-ttf-20090104.tar.gz
any /projects/AssetViewer/data        http://openengine.dk/data/images/slider_bg.png
